// Colors

$light-bg-color: #f5c9d0;
$dark-bg-color: #f8a3b1;
$background-light-grey: #f0f0f0;

$focus-color: #db6e80;
$clr-success: #27ae60;
$clr-error: #e94141;
$clr-warning: #ffff39;

$highlight-color: #db6e8099;
$text-color: #3b2125;
$text-color-light: #a49598;

$text-color-caption: hwb(0 53% 47%);

$button-color:  rgb(59, 33, 37);
$button-clr-light: rgb(248, 163, 177);

