/* registerForm.scss */
@import '../../assets/scss/colors';


.register-container {
    font-family: 'Arial', sans-serif;
    color: #333;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: $background-light-grey; /* Placeholder color; replace with the gradient shown in the image */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
  
    .register-form {
      background: #fff;
      padding: 30px;
      box-sizing: border-box;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 90%;
      max-width: 600px;

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
      }
  
      .form-group {
        flex-basis: 100px;
        display: flex;
        flex-direction: column;

        .username-check {
          display: inline-flex;
          justify-content: space-between;
          align-items: center;

          input {
            border: none !important;
            outline: none !important;
            width: 100% !important;
          }

          :focus-within input:not(:placeholder-shown):valid {
            outline-color: $clr-success;
          }

          :focus-within input:not(:placeholder-shown):invalid {
            outline-color: $clr-error;
          }

          :focus-within input:focus:invalid {
            outline-color: $clr-warning;
          }
        }
  
        label {
          margin-bottom: 5px;
        }
        
        .form-input {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      
       .form-input:not(:placeholder-shown):valid {
            outline-color: $clr-success;
        }

        .form-input:not(:placeholder-shown):invalid {
          outline-color: $clr-error;
        }

        .form-input:focus:invalid {
          outline-color: $clr-warning;
        }

        .confirm-pass {
          position: relative;
          display: flex;

          input {
            padding-right: 30px;
            width: 100%;
          }
          button {
            position: absolute; 
            right: 5px; // Adjust as needed
            top: 50%;
            transform: translateY(-50%);
            border: none;
            background: transparent;
          }
        }

        .input-hint {
          font-size: 11px;
          color: #777;
          margin-top: 5px;
        }
      }
  
      .register-form-check {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
  
        input[type="checkbox"] {
          margin-right: 10px;
        }
      }
  
      .register-button {
        padding: 10px;
        background: $button-clr-light; /* Placeholder color; replace with the green shade shown in the image */
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
  
        &:hover {
          background: $focus-color /* Darker shade for hover effect */
        }

        &:disabled,
        &[disabled] {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
  
      .form-footer {
        text-align: center;
        margin-top: 10px;
  
        a {
          text-decoration: none;
          color: $focus-color /* Green shade for links */
        }
      }
    }

    .success-msg {
      text-align: center;
      background-color: #e6fbef;
      border-radius: 3px;
      border: 1px solid green;
      color: green;
      margin: 25px 0;
      padding: 10px;
      width: fit-content;
    }

    .failure-msg {
      text-align: center;
      background-color: rgb(254, 222, 222);
      border: 1px solid red;
      border-radius: 3px;
      color: red;
      margin: 25px 0;
      padding: 10px;
      width: fit-content;
    }
  }