@import '../../assets/scss/colors';

.addTo-cart {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid $text-color;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    box-sizing: border-box;
    height: 35px;

    .start-adding {
        border: none;
        background: none;
        color: $text-color;
        font-size: 17px;
        padding: 0 20px;
        font-weight: 500;
        cursor: pointer;
    }

    .counter-btn {
        display: flex;

        background: none;
        border: none;

        color: $text-color;
        padding: 0px 10px;
        cursor: pointer;
        text-align: center;
    }
    

    .count {
        font-size: 16px;
        color: $text-color;
        margin: 0 10px;
        align-self: end;
    }

}